{
    "version": 1,
    "storageDriverName": "ontap-nas",
    "backendName": "ontapStorage",
    "managementLIF": "{{ managementLIF }}",
    "dataLIF": "{{ dataLIF }}",
    "svm": "{{ ontapSVM }}",
    "username": "{{ ontapUsername }}",
    "password": "{{ ontapPassword }}"
}
