---
dci_topic: OCP-4.7

# -- Components --
# If you don't specify dci_components or dci_components_by_query
# you will get the latest components associated with that topic.
#
# You can specify components via the ID found from dcictl component-list
#dci_components: ['c364f2a7-2d25-4b91-9773-3448fb48d0a0']
# Or you can query by name or type and tags
#dci_components_by_query: ['name:4.7.8']
#dci_components_by_query: ['type:ocp,tags:ocp-vanilla-4.7-simple-ok']
#dci_components_by_query: ['tags:build:ga']
#If you specify both the components list will be combined.

# By default we don't run the conformance tests
#dci_openshift_agent_conformance: openshift-conformance-minimal

# Specify version of baremetal deploy repo, default is HEAD
#baremetal_deploy_version: HEAD

# By default we do not run cnf tests
# dci_openshift_agent_cnf_tests_mode: non-disconnected
