dci_topic: OCP-4.3
cluster_name: {{ cluster_name }}
base_domain: {{ base_domain }}
ironic_nodes: {{ ironic_nodes | to_json }}
cluster_domain: "{{ cluster_domain }}"
cluster_pro_if: {{ cluster_pro_if | default('ens3', true) }}
pro_if: {{ prov_nic }}
int_if: {{ pub_nic }}
dns_vip: {{ dns_vip | default('192.168.123.6') }}
openshift_release_image: ''
provisionhost_name: provisionhost
provisionhost_user: {{ provisionhost_user }}
