[Unit]
Description=DCI Agent for Openshift

[Service]
Type=oneshot
WorkingDirectory=/usr/share/dci-openshift-agent
EnvironmentFile=/etc/dci-openshift-agent/dcirc.sh
EnvironmentFile-=/etc/sysconfig/dci-openshift-agent
ExecStart=-/usr/bin/ansible-playbook -v /usr/share/dci-openshift-agent/dci-openshift-agent.yml $OPTIONS
SuccessExitStatus=0
User=dci-openshift-agent

[Install]
WantedBy=default.target
