[Unit]
Description=DCI Agent for Openshift

[Service]
Type=oneshot
WorkingDirectory=/usr/share/dci-openshift-agent
EnvironmentFile=/etc/dci-openshift-agent/dcirc.sh
ExecStart=/usr/bin/ansible-playbook -vv /usr/share/dci-openshift-agent/dci-openshift-agent.yml -e @/etc/dci-openshift-agent/settings.yml -i /etc/dci-openshift-agent/hosts
SuccessExitStatus=0
User=root

[Install]
WantedBy=default.target
