[Unit]
Description=DCI Agent for Openshift

[Service]
Type=oneshot
ExecStart=-dci-openshift-agent-ctl -s
SuccessExitStatus=0
User=dci-openshift-agent

[Install]
WantedBy=default.target
