---
- name: Find all of the files inside this directory
  ansible.builtin.find:
    paths: "/etc/yum.repos.d/"
    patterns: "*.repo"
  register: repos

- name: Comment mirrorlist and uncomment baseurl if Distro is CentOS
  become: true
  ansible.builtin.replace:
    path: "{{ item[0].path }}"
    regexp: "{{ item[1][0] }}"
    replace: "{{ item[1][1] }}"
  loop: >-
    {{ repos.files | product([['mirror.centos.org', 'vault.centos.org'],
    ['^#.*baseurl=http', 'baseurl=http'],
    ['^mirrorlist=http', '#mirrorlist=http']]) | list }}
  when: ansible_distribution == 'CentOS'

- name: Check on the EPEL repository status on a connected provisioner
  become: true
  package:
    name: epel-release
  when:
    - ansible_facts.distribution != "RedHat"
    - not (dci_disconnected | default(false) | bool)

- name: Configure extra repositories
  become: true
  yum_repository:
    name: "{{ item.name }}"
    description: "{{ item.description | default(item.name + ' repository') }}"
    baseurl: "{{ item.baseurl }}"
    mirrorlist: "{{ item.mirrorlist | default(omit) }}"
    gpgcheck: "{{ item.gpgcheck | default('no') }}"
    state: "{{ item.state | default('present') }}"
  with_items: "{{ provisioner_extra_repos | default([]) }}"

- name: Install packages
  become: true
  package:
    name:
      - "{{ item }}"
    state: installed
  with_items:
    - "python{% if ansible_python.version.major == 3 %}3{% endif %}-openshift"
...
