---
- name: Install helper tools
  become: true
  package:
    name:
      - "python{% if ansible_python.version.major == 3 %}3{% endif %}-firewall"
      - "python{% if ansible_python.version.major == 3 %}3{% endif %}-dns"
      - "python{% if ansible_python.version.major == 3 %}3{% endif %}-netaddr"
      - "jq"
      - "expect"
      - python3-passlib
    state: installed

- name: Install grpcurl when uninstalled
  block:
    - name: Check grpcurl is installed
      stat:
        path: /usr/local/bin/grpcurl
        get_checksum: false
      register: grpcurl_path

    - name: Install grpcurl
      unarchive:
        src: https://github.com/fullstorydev/grpcurl/releases/download/v1.8.2/grpcurl_1.8.2_linux_x86_64.tar.gz
        dest: /usr/local/bin
        remote_src: true
        mode: 0755
      register: result
      retries: 3
      delay: 10
      until: result is not failed
      become: true
      when: not grpcurl_path.stat.exists

- name: Ensure DCI cache directory is present
  file:
    path: "{{ dci_cache_dir }}"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0750"
  become: true

- name: "Set roles_path"
  ansible.builtin.set_fact:
    roles_path: "{{ lookup('ansible.builtin.config', 'DEFAULT_ROLES_PATH') }}"

- block:
    - name: "Clean up {{ dci_cluster_configs_dir }}"
      file:
        path: "{{ dci_cluster_configs_dir }}"
        state: absent

    - name: "Create {{ dci_cluster_configs_dir }}"
      file:
        path: "{{ dci_cluster_configs_dir }}"
        state: directory
        mode: "0755"
  when:
    - dci_main == 'install'

- name: "Download stable openshift clients"
  vars:
    ocp_clients_url: "https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/stable-4.14"
  unarchive:
    src: "{{ item }}"
    dest: "{{ dci_cluster_configs_dir }}"
    remote_src: true
    mode: 0755
  register: result
  retries: 3
  delay: 10
  until: result is not failed
  loop:
    - "{{ ocp_clients_url }}/opm-linux.tar.gz"
    - "{{ ocp_clients_url }}/openshift-client-linux.tar.gz"

- name: "Setup podman on the jumphost"
  include_role:
    name: ansible-role-dci-podman
...
