---
- name: Install helper tools
  become: true
  package:
    name:
      - "python{% if ansible_python.version.major == 3 %}3{% endif %}-firewall"
      - "python{% if ansible_python.version.major == 3 %}3{% endif %}-dns"
      - "python{% if ansible_python.version.major == 3 %}3{% endif %}-netaddr"
      - "jq"
      - "httpd"
      - "expect"
      - "skopeo" # needed for image mirroring in offline mode
    state: installed

- name: Install grpcurl
  unarchive:
    src: https://github.com/fullstorydev/grpcurl/releases/download/v1.8.2/grpcurl_1.8.2_linux_x86_64.tar.gz
    dest: /usr/local/bin
    remote_src: yes
    mode: 0755
  become: true

- name: Ensure Apache is running
  systemd:
    name: 'httpd'
    state: 'started'
  become: true

- name: Open port 80 on the firewall
  firewalld:
    zone: public
    service: http
    permanent: true
    state: enabled
  register: result
  failed_when: false
  become: true

- name: Ensure proper directories are created
  file:
    path: '{{ item }}'
    state: directory
    owner: '{{ ansible_user_id }}'
    group: '{{ ansible_user_gid }}'
  with_items:
    - '{{ dci_cache_dir }}'
  become: true

- block:
  - name: "Clean up {{ dci_cluster_configs_dir }}"
    file:
      path: "{{ dci_cluster_configs_dir }}"
      state: absent

  - name: "Create {{ dci_cluster_configs_dir }}"
    file:
      path: "{{ dci_cluster_configs_dir }}"
      state: directory
  when:
    - dci_main is undefined or dci_main == 'install'

- name: "Setup podman on the jumphost"
  include_role:
    name: ansible-role-dci-podman
...
