#
# APACHE
#

- name: Ensure Apache is installed
  package:
    name: 'httpd'
    state: 'present'
  become: true
- name: Ensure Apache is running
  systemd:
    name: 'httpd'
    state: 'started'
  become: true
- name: Ensure python-firewall is installed
  package:
    name: 'python3-firewall'
    state: 'present'
  become: true
- name: Open port 80 on the firewall
  firewalld:
    zone: public
    service: http
    permanent: true
    state: enabled
  register: result
  failed_when: false
  become: true
- name: Drop existing repo files
  file:
    path: '{{ item }}'
    state: absent
  with_fileglob: '{{ dci_mirror_location }}/dci_repo/dci_repo*.repo'
  become: true
- name: Ensure proper directories are created
  file:
    path: '{{ item }}'
    state: directory
    owner: '{{ ansible_user_id }}'
    group: '{{ ansible_user_gid }}'
  with_items:
    - '{{ dci_cache_dir }}'
    - '{{ dci_mirror_location }}/dci_repo'
  become: true
