version: 0.1
log:
  fields:
    service: registry
storage:
    cache:
        layerinfo: inmemory
    filesystem:
        rootdirectory: /var/lib/registry
    delete:
        enabled: true
http:
    addr: {{ dci_base_ip|default(ansible_default_ipv4.address) }}:{{ dci_registry_port|default(5000) }}
