Host provisioner
    Hostname      {{ groups['provisioner'][0] }}
    User          {{ provisioner_user }}
    IdentityFile  ~/.ssh/id_rsa

Host worker-* master-*
    User          core
    ProxyJump     provisioner
    IdentityFile  ~/.ssh/provisioner_rsa
