dci_topic: {{ dci_topic }}
cluster_name: {{ cluster_name }}
base_domain: {{ base_domain }}
ironic_nodes: {{ ironic_nodes | to_json }}
cluster_domain: "{{ cluster_domain }}"
cluster_pro_if: {{ cluster_pro_if | default('ens3', true) }}
pro_if: eth0
int_if: eth1
dns_vip: {{ dns_vip }}
openshift_release_image: ''
provisionhost_name: {{ groups['worker'][-1] }}
provisionhost_ip: {{ hostvars[groups['worker'][-1]].ansible_ssh_host }}
provisionhost_user: {{ provisionhost_user }}
provisionhost_password: {{ provisionhost_password }}
